html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  background: #044;
  overflow: hidden;
}

canvas {
  margin: auto;
}

@font-face {
  font-family : "font";
  src         : url("../font/font.TTF");
}